.advantages {
    min-height: 473px;
    padding: 73px 0 63px 0;
    background: #F6F6F6;
    &_wrapper {
        display: flex;
        margin-top: 60px;
        justify-content: space-between;
    }
     &_items {
        display: block;
        text-align: center;
        width: 275px;     
    }
    &_img {
        width: 70px;
        height: 70px;
    }
    &_title {
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    &_descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        a {
            text-decoration-line: underline;
            color: #FF0000;;
        }
    }
}