@media (max-width: 1200px) {
    .promo {
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 21px;
        }
    }
    .button {
        &_main {
            width: 250px;
        }
    }
    .title {
        &_white {
            font-size: 33px;
            line-height: 50px;
        }
    }
    .consultation {
        &__descr {
            font-size: 18px;
            line-height: 28px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        padding: 0 10px;
    }
    .promo {
        min-height: 600px;
        padding: 21px 0 70px 0;
        &__wrapper {
            margin-top: 70px;
        }
    }
    .advantages {
        padding: 60px 0 50px 0;
        &_items {
            width: 215px;
        }
    }
    .title {
        &_white {
            font-size: 30px;
            line-height: 45px;
        }
    } 
    .consultation {
        min-height: 600px;
        padding: 75px 0 80px 0;      
        &__descr {
            font-size: 16px;
            line-height: 25px;
        }  
    }
    .carousel {
        padding: 60px 0;
    }
    .catalog {
        padding-bottom: 60px;
        &__content {
            margin-top: 50px;
        }
        &-item {
            margin-right: 10px;
        }
    }
}
@media (max-width: 768px) {
    .header {
        &__official {
            display: none;
        }
    }
    .advantages {
        &_wrapper {
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }
        &_items {
            margin-top: 30px;
            width: 275px;
        }
    }
    .title {
        &_white {
            font-size: 24px;
            line-height: 40px;
        }
    }
    .consultation {
        min-height: 500px;
        padding: 55px 0 60px 0;
    }
    .catalog {
        &__content {
            justify-content: space-evenly;
        }
        &-item {
            margin-right: 0;
        }
    } 
    .footer {
        &__info {
            width: 425px;
            height: 250px;
        }
        &__addr {
            font-size: 18px;
            margin-bottom: 30px;
        }
        &__phone {
            font-size: 18px;
            margin-bottom: 30px;  
        }
        &__social-item {
            width: 40px;
            height: 40px;
        }
    } 
}
@media (max-width: 576px) {
    .header {
        &__logo {
            img {
                width: 85%;
            }
        }
        &__phone {
            font-size: 12px;
        }
    }
    .button {
        width: 125px;
        height: 28px;
        font-size: 10px;
        &_main {
            width: 250px;
            height: 40px;
            font-size: 13px;
            margin: 20px auto;
        }
        &_submit {
            width: 100%;
            height: 58px;
            font-size: 16px;
        }
    }
    .promo {
        padding: 21px 0 50px 0;
        &__wrapper {
            margin-top: 55px;
        }
        &__header {
            font-size: 25px;
            line-height: 0;
        }
        &__subheader {
            font-size: 13px;
            line-height: 4;
        }
        &__icons {
            margin-top: 5px;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-top: 20px;
        }
        &__link {
            margin: 0 auto;
            font-size: 14px;
        }
    }
    .advantages {
        padding: 45px 0 40px 0;
    }
    .title {
        font-size: 25px;
        &_white {
            font-size: 20px;
            line-height: 38px;
            text-align: center;
        }
    }
    .consultation {
        &__descr {
            font-size: 14px;
            line-height: 25px;
            text-align: center;
        }
    }
    .carousel {
        padding: 50px 0;
        img {
            width: 555px;
        }
        .slick-dots {
            margin: 15px 237px;
        }
    }
    .catalog {
        padding-bottom: 40px;
        &__tabs {
            flex-direction: column;
            margin-top: 35px;
        }
        &__tab {
            margin-bottom: 15px;
        }
        &__content {
            margin-top: 35px;
        }
    }
    .reviews {
        &_wrapper {
            flex-direction: column;
            margin-top: 40px;
        }
        &_img {
            margin-right: 0;
        }
        &_block {
            margin-top: 35px;
        }
    }
    .modal {
        left: 38%;
        width: 365px;
        padding: 30px;
    }
}
@media (max-width: 575px) {
    .button_main {
        width: 210px;
        font-size: 12px;
    }
    .consultation {
        padding: 35px 0 35px 0;
    }
    .feed-form {
        margin-top: 20px;
        width: 250px;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        input {
            height: 45px;
            margin-bottom: 12px;
            padding: 0 14px;
        }
    }
    .button_submit {
        height: 45px;
        font-size: 14px;
    }
    .carousel {
        padding: 40px 0;
        img {
            width: 300px;
        }
        .slick-dots {
            margin: 15px 110px;
        }
    }
    .catalog {
        padding-bottom: 20px;
        &__content {
            margin-top: 20px;
        }
    }
    .reviews {
        &_wrapper{
            margin-top: 30px;
        } 
    }
    .footer {
        &__info {
            width: 235px;
            height: 180px;
            padding: 25px 25px 30px 25px;
        }
        &__addr {
            font-size: 11px;
            margin-bottom: 20px;
        }
        &__phone {
            font-size: 14px;
            margin-bottom: 20px;
        }
        &__social-item {
            margin: 0px 7px;
            width: 35px;
            height: 35px;
            img {
                height: 20px;
            }
        }
    }
    .modal {
        left: 20%;
        width: 285px;
        padding: 20px;
        min-height: 330px;
        &__close {
            right: -20px;
            font-size: 25px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            font-size: 12px;
        }
    }
}
